html {
  overflow-y: scroll;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 100%;
}

.loader,
.error {
  text-align: center;
  position: absolute;

  top: 20%;
  left: 50%;

  transform: translate(-50%, -50%);
}